.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.square {
  background-color: #fff;
  border: 5px solid #000;
  width: 100px;
  height: 100px;
}