.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.square {
  background-color: #fff;
  color: #000;
  border: 5px solid #000;
  font-size: 70px;
  width: 70px;
  height: 70px;
}

.ocean {
  background-color: blue;
}

.ship {
  background-color: gray;
}